<?xml version="1.0"?>
<config>
	<modules>
		<Ves_Layerslider>
			<version>1.2.1</version>
		</Ves_Layerslider>
	</modules>
	<frontend>
		 <routers>
            <layerslider>
                <use>standard</use>
                <args>
                    <module>Ves_Layerslider</module>
                    <frontName>veslayerslider</frontName>
                </args>
            </layerslider>
        </routers>
		<translate>
			<modules>
				<Ves_Layerslider>
					<files>
						<default>Ves_Layerslider.csv</default>
					</files>
				</Ves_Layerslider>
			</modules>
		</translate>
		<layout>
			<updates>
				<layerslider module="ves_layerslider">
					<file>ves_layerslider.xml</file>
				</layerslider>
			</updates>
		</layout>
	</frontend>
	<global>
		<blocks>
            <ves_layerslider>
                <class>Ves_Layerslider_Block</class>
            </ves_layerslider>
        </blocks>
        <models>
            <ves_layerslider>
                <class>Ves_Layerslider_Model</class>
                <resourceModel>ves_layerslider_mysql4</resourceModel>
            </ves_layerslider>
            <ves_layerslider_mysql4>
                <class>Ves_Layerslider_Model_Mysql4</class>
                <entities>
					<banner>
                        <table>ves_layerslider_banner</table>
                    </banner>
					<banner_store>
                        <table>ves_layerslider_banner_store</table>
                    </banner_store>
                </entities>
            </ves_layerslider_mysql4>
        </models>
        <helpers>
            <ves_layerslider>
                <class>Ves_Layerslider_Helper</class>
            </ves_layerslider>
        </helpers>
        <resources>
            <ves_layerslider_setup>
                <setup>
                    <module>Ves_Layerslider</module>

                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_layerslider_setup>
            <ves_layerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_layerslider_write>
            <ves_layerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_layerslider_read>
        </resources>

	</global>
	<admin>
        <routers>
            <layerslider>
                <use>admin</use>
                <args>
                    <module>Ves_Layerslider</module>
                    <frontName>layerslider</frontName>
                </args>
            </layerslider>
            
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Layerslider after="Mage_Adminhtml">Ves_Layerslider_Adminhtml</Ves_Layerslider>
                    </modules>
                </args>
            </adminhtml>
            
        </routers>
    </admin>
	<default>
        <ves_layerslider>
            <general_setting>
                <show>1</show>
                <theme>default</theme>
				<resize_quality>80</resize_quality>
                <enable_encode>0</enable_encode>
                <enable_bootstrap>0</enable_bootstrap>
			</general_setting>
        </ves_layerslider>
    </default>
</config>