<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_Wholesale>
            <version>1.0.0</version>
        </NextBits_Wholesale>
    </modules>
    <frontend>
		<events>
			<controller_action_layout_load_before>
                <observers>
                    <nextbits_wholesale>
                        <class>NextBits_Wholesale_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </nextbits_wholesale>
                </observers>
            </controller_action_layout_load_before>
			<controller_action_predispatch>
				<observers>
					<nextbits_wholesale>
						<class>NextBits_Wholesale_Model_Observer</class>
						<method>hookToControllerActionPreDispatch</method>
					</nextbits_wholesale>
				</observers>
			</controller_action_predispatch>
		</events>
        <routers>
            <wholesale>
                <use>standard</use>
                <args>
                    <module>NextBits_Wholesale</module>
                    <frontName>wholesale</frontName>
                </args>
            </wholesale>
        </routers>
        <layout>
            <updates>
                <wholesale>
                    <file>wholesale.xml</file>
                </wholesale>
            </updates>
        </layout>
    </frontend>
    <admin>
		
        <routers>
			<wholesale>
				<use>admin</use>
				<args>
					<module>NextBits_Wholesale</module>
					<frontName>wholesale</frontName>
				</args>
			</wholesale>
        </routers>
    </admin>
    <adminhtml>
		<events>
			<admin_system_config_changed_section_wholesale>
				<observers>
					<nextbits_wholesale>
						<type>singleton</type>
						<class>wholesale/observer</class>
						<method>systemConfigSaveAfterObserver</method>
					</nextbits_wholesale>
				</observers>
			</admin_system_config_changed_section_wholesale>
		</events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<NextBits_Wholesale>
							<title>Wholesale Module</title>
							<sort_order>10</sort_order>
						</NextBits_Wholesale>
					</children>
				</admin>
			</resources>
		</acl>		
    </adminhtml>   
    <global>
		<events>
			<customer_save_before>
                <observers>
                    <nextbits_wholesale>
                        <type>singleton</type>
                        <class>NextBits_Wholesale_Model_Observer</class>
                        <method>customerSaveBefore</method>
                    </nextbits_wholesale>
                </observers>
            </customer_save_before>
		</events>        
        <blocks>
            <wholesale>
                <class>NextBits_Wholesale_Block</class>
            </wholesale>
        </blocks>
        <helpers>
            <wholesale>
                <class>NextBits_Wholesale_Helper</class>
            </wholesale>
        </helpers>
		<models>
            <wholesale>
                <class>NextBits_Wholesale_Model</class>              
            </wholesale>         
        </models>
    </global>
	<default>
        <wholesale>
            <general>
                <wholesale_customer_group>2</wholesale_customer_group>
				<wholesale_customer_activation>1</wholesale_customer_activation>
				<show_address>1</show_address>
				<taxvat_show>req</taxvat_show>
            </general>
        </wholesale>
    </default>
</config>