<?xml version="1.0"?>
<config>
    <modules>
        <Ves_Widgets>
            <version>1.0.0</version>
        </Ves_Widgets>
    </modules>
    <admin>
        <routers>
            <veswidgets>
                <use>admin</use>
                <args>
                    <module>Ves_Widgets</module>
                    <frontName>veswidgets</frontName>
                </args>
            </veswidgets>
        </routers>
    </admin>

    <!-- frontend -->
    <frontend>
        <layout>
            <updates>
                <ves_widgets>
                    <file>ves_widgets.xml</file>
                </ves_widgets>
            </updates>
        </layout>
    </frontend>
    <!--Global-->
    <global>
        <blocks>
            <ves_widgets>
                <class>Ves_Widgets_Block</class>
            </ves_widgets>
        </blocks>

        <models>
            <ves_widgets>
                <class>Ves_Widgets_Model</class>
                <resourceModel>ves_widgets_mysql4</resourceModel>
            </ves_widgets>
        </models>

        <helpers>
            <ves_widgets>
                <class>Ves_Widgets_Helper</class>
            </ves_widgets>
        </helpers>
        <resources>
            <ves_widgets_setup>
                <setup>
                    <module>Ves_Widgets</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_widgets_setup>
            <ves_widgets_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_widgets_write>
            <ves_widgets_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_widgets_read>
        </resources>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <veswidgets>
                    <file>ves_widgets.xml</file>
                </veswidgets>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ves_widgets>
            <general>
                <enable_swiper>1</enable_swiper>
                <enable_cookie_jquery>1</enable_cookie_jquery>
            </general>
        </ves_widgets>
    </default>
</config>