<?xml version="1.0"?>
<!--
 This file is released under a custom license by Avenla Oy.
 All rights reserved

 License and more information can be found at http://productdownloads.avenla.com/magento-modules/klarna-checkout/
 For questions and support - klarna-support@avenla.com

 @category   Avenla
 @package    Avenla_KlarnaCheckout
 @copyright  Copyright (c) Avenla Oy
 @link       http://www.avenla.fi


 Avenla KlarnaCheckout

 @category   Avenla
 @package    Avenla_KlarnaCheckout

-->
<config>
	<sections>
		<payment>
			<groups>
				<klarnaCheckout_payment translate="label" module="klarnaCheckout">
					<label>Klarna Checkout</label>
					<sort_order>700</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<klarna_notice translate="label" module="klarnaCheckout">
							<frontend_model>klarnaCheckout/adminhtml_system_config_fieldset_info</frontend_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</klarna_notice>
						<license translate="label">
							<label>I accept the terms in the license agreement</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</license>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<api translate="label">
							<label>API</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_api</source_model>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api>
						<server translate="label">
							<label>Server</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_servermode</source_model>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</server>
						<merchantid translate="label">
							<label>Merchant ID</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</merchantid>
						<sharedsecret translate="label">
							<label>Shared secret</label>
							<frontend_type>obscure</frontend_type>
							<backend_model>adminhtml/system_config_backend_encrypted</backend_model>
							<sort_order>7</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sharedsecret>
						<debug_log translate="label">
							<label>Debug log</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</debug_log>
						<activate_partial translate="label">
							<label>Activate partial shipments</label>
							<comment><![CDATA[When selected, partial shipments will be automatically activated in Klarna]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</activate_partial>
						<allow_separate_shipping translate="label">
							<label>Allow separate shipping address</label>
							<comment><![CDATA[Please confirm that your contract with Klarna allows the use of a separate shipping address.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allow_separate_shipping>
						<b2b_flow translate="label">
							<depends><api>2</api></depends>
							<label>Enable B2B flow</label>
							<frontend_type>select</frontend_type>
							<comment><![CDATA[Available only if you have enabled B2B with Klarna.]]></comment>
							<source_model>klarnaCheckout/source_flowType</source_model>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</b2b_flow>
						<return_tax translate="label">
							<label>Tax class for all amount returns / adjustment fee</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_taxclass</source_model>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</return_tax>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>13</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<linktext translate="label">
							<label>Link text</label>
							<comment><![CDATA[Text shown in Klarna link at Magento Checkout]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>14</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</linktext>
						<terms_url translate="label">
							<label>Terms URL</label>
							<comment><![CDATA[Relative to Website Base URL]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>15</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</terms_url>
						<terms_url_b2b translate="label">
							<depends><b2b_flow>1</b2b_flow></depends>
							<label>Terms URL for B2B</label>
							<frontend_type>text</frontend_type>
							<sort_order>16</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</terms_url_b2b>
						<google_analytics translate="label">
							<label>Google Analytics account no</label>
							<comment><![CDATA[Enter account number to use Google Ecommerce tracking]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>17</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</google_analytics>
						<google_analytics_type translate="label">
							<label>Google Analytics account Type</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_analyticsType</source_model>
							<sort_order>18</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</google_analytics_type>
						<default_checkout translate="label">
							<label>Hide links to default Checkout</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>19</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</default_checkout>
						<kco_layout translate="label">
							<label>Cart page layout</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_kcolayout</source_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</kco_layout>
						<disabled_shipping_methods translate="label">
							<label>Disabled shipping methods</label>
							<frontend_type>multiselect</frontend_type>
							<source_model>klarnaCheckout/source_shippingmethods</source_model>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<can_be_empty>1</can_be_empty>
						</disabled_shipping_methods>
						<pp_widget translate="label">
							<depends><api>2</api></depends>
							<label>Show part payment widget on product page</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_ppwidget</source_model>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pp_widget>
						<pp_layout translate="label">
							<depends><pp_widget>klarna</pp_widget></depends>
							<label>Part payment widget layout</label>
							<frontend_type>select</frontend_type>
							<source_model>klarnaCheckout/source_pplayout</source_model>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pp_layout>
						<show_newsletter translate="label">
							<label>Show newsletter subscription checkbox</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_newsletter>
						<show_giftmessage translate="label">
							<label>Show giftmessage form on cart page</label>
							<comment><![CDATA[Only if you have gift messages are enabled.]]></comment>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>25</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</show_giftmessage>
						<custom_colors translate="label">
							<label>Use custom colors</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>26</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</custom_colors>
						<color_button translate="label">
							<label>Button color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>27</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_button>
						<color_button_text translate="label">
							<label>Button text color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>28</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_button_text>
						<color_checkbox translate="label">
							<label>Checkbox color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>29</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_checkbox>
						<color_checkbox_checkmark translate="label">
							<label>Checkbox checkmark color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_checkbox_checkmark>
						<color_header translate="label">
							<label>Header color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>31</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_header>
						<color_link translate="label">
							<label>Link color</label>
							<frontend_type>text</frontend_type>
							<validate>color</validate>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><custom_colors>1</custom_colors></depends>
						</color_link>
						<additional_checkbox translate="label">
							<label>Add Custom Checkbox</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>33</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</additional_checkbox>
						<additional_checkbox_text translate="label">
							<label>Custom Checkbox text</label>
							<comment><![CDATA[Paste <i>[MyLinkText](www.example.com)</i> and replace placeholders with your own values to get a link.]]></comment>
							<frontend_type>text</frontend_type>
							<sort_order>34</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><additional_checkbox>1</additional_checkbox></depends>
						</additional_checkbox_text>
						<additional_checkbox_required translate="label">
							<label>Is Custom Checkbox required</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>35</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><additional_checkbox>1</additional_checkbox></depends>
						</additional_checkbox_required>
						<additional_checkbox_checked translate="label">
							<label>Custom Checkbox default value</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>36</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<depends><additional_checkbox>1</additional_checkbox></depends>
						</additional_checkbox_checked>
					</fields>
				</klarnaCheckout_payment>
			</groups>
		</payment>
	</sections>
</config>