@import "mixin/mixin";
@import "compass/css3";

.neklo-instagram-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;

    @include breakpointmedia(768, 'max-width') {
        font-size: 16px;
    }
}

.neklo-instagram-description {
    font-size: 14px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;

    @include breakpointmedia(768, 'max-width') {
        font-size: 12px;
    }
}

.neklo-instagram-list {
    @include clearfix();
    margin: 20px auto;
    width: 80%;
    text-align: center;
    font-size: 0;

    @include breakpointmedia(768, 'max-width') {
        width: 95%;
    }

    li {
        display: inline-block;
        vertical-align: top;
        @include transition(all 0.2s ease);
        margin: 0 2px 2px 0;

        &:hover {
            .neklo-instagram-over {
                @include border-radius(50%);
                @include transform(scale(0));
            }

            img { @include transform(scale(1.2)); }
        }
    }

    a {
        position: relative;
        overflow: hidden;
        display: block;
    }

    img {
        @include transition(all 0.2s ease);
        @include transform(scale(1));
    }
}

.neklo-instagram-over {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000;
    @include opacity(0.3);
    @include transition(all 0.2s ease);
    z-index: 10;
}