<?xml version="1.0"?>
<config>
    <modules>
        <Mlx_Mlx>
            <version>15.05.20</version>
        </Mlx_Mlx>
    </modules>    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mlx_Mlx before="Mage_Adminhtml">Mlx_Mlx_Adminhtml</Mlx_Mlx>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>    	 
		<events>
			<controller_action_predispatch>
				<observers>
				  <mlx_notification_observer>
					<type>singleton</type>
					<class>mlx/observer</class>
					<method>controllerActionPredispatch</method>
				  </mlx_notification_observer>
			   </observers>					
			</controller_action_predispatch>
			<admin_user_authenticate_after>
				<observers>
				  <mlx_admin_user_authenticate_after>
					<type>singleton</type>
					<class>mlx/observer</class>
					<method>admin_user_authenticate_after</method>
				  </mlx_admin_user_authenticate_after>
			   </observers>	
			</admin_user_authenticate_after>		
		</events>	
		 		
		<layout>
			<updates>
				<mlx>
					<file>Mlx/Mlx/layout.xml</file>
				</mlx>
			</updates>
		</layout>        
    </adminhtml>   
    <frontend>
        
        <layout>
            <updates>
                <mlx module="Mlx_Mlx">
                    <file>Mlx/Mlx/layout.xml</file>
                </mlx>
            </updates>
        </layout>   
    </frontend>
    <global>
        <models>
            <mlx>
                <class>Mlx_Mlx_Model</class>
                <resourceModel>mlx_mysql4</resourceModel>
            </mlx>
            <mlx_mysql4>
                <class>Mlx_Mlx_Model_Resource</class>
                <entities>
                    <license>
                        <table>mlx_license</table>
                    </license>  
                    <notify>
                        <table>mlx_notify</table>
                    </notify>
                    <feedback>
                        <table>mlx_feedback</table>
                    </feedback>			
                    <feedback_message>
                        <table>mlx_feedbackmessage</table>
                    </feedback_message>							
                    <log>
                        <table>mlx_log</table>
                    </log>                 									
                </entities>
            </mlx_mysql4>
        </models>
        <resources>
            <mlx_setup>
                <setup>
                    <module>Mlx_Mlx</module>     
                    <class>Mlx_Mlx_Model_Resource_Setup</class>               
                </setup>
            </mlx_setup>
        </resources>
        <blocks>
            <mlx>
                <class>Mlx_Mlx_Block</class>
            </mlx>
            <adminhtml>
            	<rewrite>
            		<page_menu>Mlx_Mlx_Block_Rewrite_Adminhtml_Page_Menu</page_menu>
            	</rewrite>            	
            </adminhtml>   
        </blocks>
        <helpers>
            <mlx>
                <class>Mlx_Mlx_Helper</class>
            </mlx>
        </helpers>
    </global>
</config>