<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Affiliateplusprogram>
            <version>0.4.4</version>
        </Magestore_Affiliateplusprogram>
    </modules>
    <frontend>
        <routers>
            <affiliateplusprogram>
                <use>standard</use>
                <args>
                    <module>Magestore_Affiliateplusprogram</module>
                    <frontName>affiliateplusprogram</frontName>
                </args>
            </affiliateplusprogram>
        </routers>
        <layout>
            <updates>
                <affiliateplusprogram>
                    <file>affiliateplusprogram.xml</file>
                </affiliateplusprogram>
            </updates>
        </layout>
        <events>
            <affiliateplus_get_list_program_welcome>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>getListProgramWelcome</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_get_list_program_welcome>
            <affiliateplus_banner_prepare_collection>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>bannerPrepareCollection</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_banner_prepare_collection>
            <affiliateplus_product_get_final_price>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>productGetFinalPrice</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_product_get_final_price>
            
            <!-- Changed By Adam: 06/10/2014: set commission ve 0 -->
            <affiliateplus_cancel_transaction_multipleprogram>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>affiliateplus_cancel_transaction_multipleprogram</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_cancel_transaction_multipleprogram>
            <!-- End code -->
        </events>
        <translate>
            <modules>
                <Magestore_Affiliateplusprogram>
                    <files>
                        <default>Magestore_Affiliateplusprogram.csv</default>
                    </files>
                </Magestore_Affiliateplusprogram>
            </modules>
        </translate>
    </frontend>
    <admin>
<!--        Changed By Adam 29/10/2015: Fix issue of SUPEE 6788 - in Magento 1.9.2.2-->
<!--        <routers>
            <affiliateplusprogramadmin>
                <use>admin</use>
                <args>
                    <module>Magestore_Affiliateplusprogram</module>
                    <frontName>affiliateplusprogramadmin</frontName>
                </args>
            </affiliateplusprogramadmin>
        </routers>-->
        <routers>
            <adminhtml> 
                <args> 
                    <modules> 
                        <Magestore_Affiliateplusprogram after="Mage_Adminhtml">Magestore_Affiliateplusprogram_Adminhtml</Magestore_Affiliateplusprogram>
                    </modules> 
                </args> 
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <affiliateplusprogram>
                    <file>affiliateplusprogram.xml</file>
                </affiliateplusprogram>
            </updates>
        </layout>
        <events>
            <affiliateplus_adminhtml_add_column_banner_grid>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addColumnBannerGrid</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_adminhtml_add_column_banner_grid>
            <affiliateplus_program_transaction_data>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>getProgramTransactionData</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_program_transaction_data>    
            <affiliateplus_adminhtml_add_field_banner_form>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addFieldBannerForm</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_adminhtml_add_field_banner_form>
            <affiliateplus_adminhtml_add_field_transaction_form>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addFieldTransactionForm</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_adminhtml_add_field_transaction_form>
            <affiliateplus_adminhtml_add_account_tab>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addAccountTab</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_adminhtml_add_account_tab>
        </events>
        <translate>
            <modules>
                <Magestore_Affiliateplusprogram>
                    <files>
                        <default>Magestore_Affiliateplusprogram.csv</default>
                    </files>
                </Magestore_Affiliateplusprogram>
            </modules>
        </translate>
    </adminhtml>
    <global>
        <models>
            <affiliateplusprogram>
                <class>Magestore_Affiliateplusprogram_Model</class>
                <resourceModel>affiliateplusprogram_mysql4</resourceModel>
            </affiliateplusprogram>
            <affiliateplusprogram_mysql4>
                <class>Magestore_Affiliateplusprogram_Model_Mysql4</class>
                <entities>
                    <program>
                        <table>affiliateplusprogram</table>
                    </program>
                    <value>
                        <table>affiliateplusprogram_value</table>
                    </value>
                    <category>
                        <table>affiliateplusprogram_category</table>
                    </category>
                    <product>
                        <table>affiliateplusprogram_product</table>
                    </product>
                    <account>
                        <table>affiliateplusprogram_account</table>
                    </account>
                    <joined>
                        <table>affiliateplusprogram_joined</table>
                    </joined>
                    <transaction>
                        <table>affiliateplusprogram_transaction</table>
                    </transaction>
                </entities>
            </affiliateplusprogram_mysql4>
        </models>
        <resources>
            <affiliateplusprogram_setup>
                <setup>
                    <module>Magestore_Affiliateplusprogram</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </affiliateplusprogram_setup>
            <affiliateplusprogram_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </affiliateplusprogram_write>
            <affiliateplusprogram_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </affiliateplusprogram_read>
        </resources>
        <blocks>
            <affiliateplusprogram>
                <class>Magestore_Affiliateplusprogram_Block</class>
            </affiliateplusprogram>
        </blocks>
        <helpers>
            <affiliateplusprogram>
                <class>Magestore_Affiliateplusprogram_Helper</class>
            </affiliateplusprogram>
        </helpers>
        <events>
            <!-- Changed By Adam (08/09/2015): Fix issue of auto join if change customer group -->
            <customer_save_after>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>accountSaveAfter</method>
                    </affiliateplusprogram>
                </observers>
            </customer_save_after>
            
            <affiliateplus_account_save_after>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>accountSaveAfter</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_account_save_after>
            <affiliateplus_created_transaction>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>createdTransaction</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_created_transaction>
            <affiliateplus_address_collect_total>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addressCollectTotal</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_address_collect_total>
            <affiliateplus_address_collect_total_edit>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>addressCollectTotalEdit</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_address_collect_total_edit>
            <affiliateplus_calculate_commission_before>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>calculateCommissionBefore</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_calculate_commission_before>
            <affiliateplus_calculate_commission_before_edit>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>calculateCommissionBeforeEdit</method>
                    </affiliateplusprogram>
                </observers>
            </affiliateplus_calculate_commission_before_edit>
            <customer_delete_before>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>customerDeleteBefore</method>
                    </affiliateplusprogram>
                </observers>
            </customer_delete_before>
            
            <!--Changed By Adam to solve the problem of invoice tung phan 25/08/2014-->
            <update_commission_to_affiliateplusprogram_transaction_partial_invoice>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>update_commission_to_affiliateplusprogram_transaction_partial_invoice</method>
                    </affiliateplusprogram>
                </observers>
            </update_commission_to_affiliateplusprogram_transaction_partial_invoice>
            <update_affiliateplusprogram_transaction_partial_refund>
                <observers>
                    <affiliateplusprogram>
                        <type>singleton</type>
                        <class>affiliateplusprogram/observer</class>
                        <method>update_affiliateplusprogram_transaction_partial_refund</method>
                    </affiliateplusprogram>
                </observers>
            </update_affiliateplusprogram_transaction_partial_refund>
            
        </events>
    </global>
    <default>
        <affiliateplus>
            <general>
                <commission>0</commission>
                <discount>0</discount>
            </general>
            <!-- hainh update 28-04-2014-->
            <program>
                <show_default>0</show_default>
                <enable>1</enable>
            </program>
        </affiliateplus>
    </default>
</config>