<?xml version="1.0"?>
<config>
    <modules>
        <Plumrocket_ComingSoon>
            <version>1.0.2</version>
        </Plumrocket_ComingSoon>
    </modules>
    <frontend>
        <routers>
            <comingsoon>
                <use>standard</use>
                <args>
                    <module>Plumrocket_ComingSoon</module>
                    <frontName>comingsoon</frontName>
                </args>
            </comingsoon>
        </routers>
        <layout>
            <updates>
                <comingsoon>
                    <file>comingsoon.xml</file>
                </comingsoon>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <plumrocket_comingsoon>
                        <class>comingsoon/observer</class>
                        <method>controllerActionPredispatch</method>
                    </plumrocket_comingsoon>
                </observers>
            </controller_action_predispatch>

            <controller_action_postdispatch_comingsoon_index_register>
                <observers>
                    <plumrocket_comingsoon>
                        <class>comingsoon/observer</class>
                        <method>customerPostDispach</method>
                    </plumrocket_comingsoon>
                </observers>
            </controller_action_postdispatch_comingsoon_index_register>
        </events>
        <translate>
            <modules>
                <Plumrocket_ComingSoon>
                    <files>
                        <default>Plumrocket_ComingSoon.csv</default>
                    </files>
                </Plumrocket_ComingSoon>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <comingsoon_admin>
                <use>admin</use>
                <args>
                    <module>Plumrocket_ComingSoon</module>
                    <frontName>comingsoon_admin</frontName>
                </args>
            </comingsoon_admin>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <comingsoon>
                    <file>comingsoon.xml</file>
                </comingsoon>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <comingsoon>
                <class>Plumrocket_ComingSoon_Model</class>
                <resourceModel>comingsoon_resource</resourceModel>
            </comingsoon>
            <comingsoon_resource>
                <class>Plumrocket_ComingSoon_Model_Mysql4</class>
                <entities>
                    <config>
                        <table>plumrocket_comingsoon_config</table>
                    </config>
                </entities>
            </comingsoon_resource>
        </models>
        <helpers>
            <comingsoon>
                <class>Plumrocket_ComingSoon_Helper</class>
            </comingsoon>
        </helpers>
        <blocks>
            <comingsoon>
                <class>Plumrocket_ComingSoon_Block</class>
            </comingsoon>
        </blocks>
        <template>
            <email>
                <comingsoon_email_welcome translate="label">
                    <label>Coming Soon Welcome Email</label>
                    <file>plumrocket/comingsoon/email_welcome.html</file>
                    <type>html</type>
                </comingsoon_email_welcome>
            </email>
        </template>
        <resources>
            <comingsoon_setup>
                <setup>
                    <module>Plumrocket_ComingSoon</module>
                </setup>
            </comingsoon_setup>
        </resources>
    </global>
    <default>
        <comingsoon>
            <general></general>
            <email>
                <welcome>comingsoon_email_welcome</welcome>
            </email>
            <mailchimp>
                <enable>0</enable>
                <double_optin>0</double_optin>
            </mailchimp>
        </comingsoon>
    </default>
</config> 