<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_HidePrice>
            <version>3.0.5</version>
        </NextBits_HidePrice>
    </modules>
    <global>
        <models>
            <nextbits_hideprice>
                <class>NextBits_HidePrice_Model</class>
            </nextbits_hideprice>
        </models>
        <helpers>
            <hideprice>
                <class>NextBits_HidePrice_Helper</class>
            </hideprice>
        </helpers>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>NextBits_HidePrice_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <events>
            <catalog_product_type_prepare_full_options>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>catalogProductTypePrepareFullOptions</method>
                    </nextbits_hideprice>
                </observers>
            </catalog_product_type_prepare_full_options>
            <core_block_abstract_to_html_before>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </nextbits_hideprice>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </nextbits_hideprice>
                </observers>
            </core_block_abstract_to_html_after>
            <core_layout_block_create_after>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>coreLayoutBlockCreateAfter</method>
                    </nextbits_hideprice>
                </observers>
            </core_layout_block_create_after>
            <controller_action_predispatch>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>controllerActionPredispatch</method>
                    </nextbits_hideprice>
                </observers>
            </controller_action_predispatch>
            <nextbits_hideprice_product_list_collection_load_after>
                <observers>
                    <nextbits_hideprice>
                        <type>singleton</type>
                        <class>nextbits_hideprice/observer</class>
                        <method>nextbitsHidePriceProductListCollectionLoadAfter</method>
                    </nextbits_hideprice>
                </observers>
            </nextbits_hideprice_product_list_collection_load_after>
        </events>
        <translate>
            <modules>
                <NextBits_HidePrice>
                    <files>
                        <default>NextBits_HidePrice.csv</default>
                    </files>
                </NextBits_HidePrice>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <NextBits_HidePrice>
                    <files>
                        <default>NextBits_HidePrice.csv</default>
                    </files>
                </NextBits_HidePrice>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <hideprice>
            <requirelogin>
				<active>0</active>
                <requirelogin>0</requirelogin>
				<login_message>Please login</login_message>
                <requireloginredirect>customer/account/login</requireloginredirect>
				<priceblocks>
                    <catalog>Mage_Catalog_Block_Product_Price</catalog>
                    <bundle>Mage_Bundle_Block_Catalog_Product_Price</bundle>
                    <mage_setup>FireGento_MageSetup_Block_Catalog_Product_Price</mage_setup>
                    <mage_setup_bundle>FireGento_MageSetup_Block_Bundle_Catalog_Product_Price</mage_setup_bundle>
                </priceblocks>
            </requirelogin>
        </hideprice>
    </default>
    <phpunit>
        <suite>
            <modules>
                <NextBits_HidePrice/>
            </modules>
        </suite>
    </phpunit>
</config>