<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Testimonial>  
			<version>1.2.1</version>  
		</Ves_Testimonial>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Testimonial>
					<files>
						<default>Ves_Testimonial.csv</default>
					</files>
				</Ves_Testimonial>
			</modules>
		</translate>
		 <routers>
            <testimonial>
                <use>standard</use>
                <args>
                    <module>Ves_Testimonial</module>
                    <frontName>ves-testimonial</frontName>
                </args>
            </testimonial>
        </routers>
		<layout>
			<updates>
				<testimonial module="ves_testimonial">
					<file>ves_testimonial.xml</file>
				</testimonial>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_testimonial>
                <class>Ves_Testimonial_Block</class>
            </ves_testimonial>
        </blocks>
        <models>
            <ves_testimonial>
                <class>Ves_Testimonial_Model</class>
                <resourceModel>ves_testimonial_mysql4</resourceModel>
            </ves_testimonial>
            <ves_testimonial_mysql4>
                <class>Ves_Testimonial_Model_Mysql4</class>
                <entities>
                    <group>
                        <table>ves_testimonial_group</table>
                    </group>
                    <group_store>
                        <table>ves_testimonial_group_store</table>
                    </group_store>
					<testimonial>
                        <table>ves_testimonial_testimonial</table>
                    </testimonial>
					<testimonial_store>
                        <table>ves_testimonial_testimonial_store</table>
                    </testimonial_store>
                </entities>
            </ves_testimonial_mysql4>
        </models>
        <helpers>
            <ves_testimonial>
                <class>Ves_Testimonial_Helper</class>
            </ves_testimonial>
        </helpers>
        <resources>
            <ves_testimonial_setup>
                <setup>
                    <module>Ves_Testimonial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_testimonial_setup>
            <ves_testimonial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_testimonial_write>
            <ves_testimonial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_testimonial_read>
        </resources>
	</global>  
	<admin>
        <routers>
            <testimonial>
                <use>admin</use>
                <args>
                    <module>Ves_Testimonial</module>
                    <frontName>testimonial</frontName>
                </args>
            </testimonial>
             <adminhtml>
                <args>
                    <modules>
                        <Ves_Testimonial after="Mage_Adminhtml">Ves_Testimonial_Adminhtml</Ves_Testimonial>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<adminhtml>
        <translate>
			<modules>
				<Ves_Testimonial>
					<files>
						<default>Ves_Testimonial.csv</default>
					</files>
				</Ves_Testimonial>
			</modules>
		</translate>
    </adminhtml>	
		
	<default>
        <ves_testimonial>
            <general_setting>
                <show>1</show>
				<autoplay>0</autoplay>
				<title>Ves Testimonial</title>  
				<interval>1000</interval>
                <width>120</width>
				<height>120</height>
				<columns>1</columns>
				<max_items_page>2</max_items_page>
			</general_setting>	
        </ves_testimonial>
    </default>
</config>  