<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Landingpage>  
            <version>1.1.0</version>  
        </Ves_Landingpage>  
    </modules>
    <frontend>
        <routers>
            <veslandingpage>
                <use>standard</use>
                <args>
                    <module>Ves_Landingpage</module>
                    <frontName>landingpage</frontName>
                </args>
            </veslandingpage>
        </routers>
        <translate>
            <modules>
                <Ves_Landingpage>
                    <files>
                        <default>Ves_Landingpage.csv</default>
                    </files>
                </Ves_Landingpage>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_landingpage>
                    <file>ves_landingpage.xml</file>
                </ves_landingpage>
            </updates>
        </layout>
    </frontend> 
    <global>
        <blocks>
         <ves_landingpage>
            <class>Ves_Landingpage_Block</class>
         </ves_landingpage>
        </blocks>
        <models>
                <ves_landingpage>
                    <class>Ves_Landingpage_Model</class>
                    <resourceModel>ves_landingpage_mysql4</resourceModel>
                </ves_landingpage>
                <ves_landingpage_mysql4>
                    <class>Ves_Landingpage_Model_Mysql4</class>
                    <entities>     
                        <slider>
                            <table>ves_landingpage_slider</table>
                        </slider>
                        <slider_store>
                            <table>ves_landingpage_slider_store</table>
                        </slider_store>
                    </entities>
                </ves_landingpage_mysql4>
        </models>
        <helpers>
            <ves_landingpage>
                <class>Ves_Landingpage_Helper</class>
            </ves_landingpage>
        </helpers>
        <events>
          <cms_wysiwyg_config_prepare>
            <observers>
              <variable_observer>
                <class>core/variable_observer</class>
                <method>prepareWysiwygPluginConfig</method>
              </variable_observer>
            </observers>
          </cms_wysiwyg_config_prepare>
        </events>
        <resources>
            <ves_landingpage_setup>
                <setup>
                    <module>Ves_Landingpage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_landingpage_setup>
            <ves_landingpage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_landingpage_write>
            <ves_landingpage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_landingpage_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ves_landingpage after="Mage_Adminhtml">Ves_Landingpage</ves_landingpage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <default>
        <ves_landingpage>
            <ves_landingpage>
                <show>1</show>
                <title> Ves Landing Page</title>
                <interval>8000</interval>
                <video_id>BBvsB5PcitQ</video_id>
                <loop>1</loop>
                <auto_play>1</auto_play>
                <show_controls>1</show_controls>
                <mute>0</mute>
                <link_logo>#</link_logo>
            </ves_landingpage>
        </ves_landingpage>
    </default>
</config>