<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_BlockBuilder>  
            <version>1.1.3</version>  
        </Ves_BlockBuilder>  
    </modules>
    <frontend>
        <routers>
            <blockbuilder>
                <use>standard</use>
                <args>
                    <module>Ves_BlockBuilder</module>
                    <frontName>blockbuilder</frontName>
                </args>
            </blockbuilder>
        </routers>
       
        <translate>
            <modules>
                <Ves_BlockBuilder>
                    <files>
                        <default>Ves_BlockBuilder.csv</default>
                    </files>
                </Ves_BlockBuilder>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_blockbuilder>
                    <file>ves_blockbuilder.xml</file>
                </ves_blockbuilder>
            </updates>
        </layout>
    </frontend> 
    <global>
        <page>
          <layouts>
            <one_column_pagebuilder module="page" translate="label">
              <label>1 Column Ves Page Builder</label>
              <template>ves/blockbuilder/page/1column.phtml</template>
              <layout_handle>page_one_column_pagebuilder</layout_handle>
              <is_default>1</is_default>
            </one_column_pagebuilder>
            <custom_pagebuilder_page_one module="page" translate="label">
              <label>1 Column Ves Page Builder - Content Page</label>
              <template>ves/blockbuilder/page/1column-contentpage.phtml</template>
              <layout_handle>page_one_column_content_pagebuilder</layout_handle>
              <is_default>1</is_default>
            </custom_pagebuilder_page_one>
            <custom_pagebuilder_page_two module="page" translate="label">
              <label>1 Column Ves Page Builder - General Page</label>
              <template>ves/blockbuilder/page/1column-general.phtml</template>
              <layout_handle>page_one_column_general_pagebuilder</layout_handle>
              <is_default>1</is_default>
            </custom_pagebuilder_page_two>
          </layouts>
        </page>
        <blocks>
            <ves_blockbuilder>
                <class>Ves_BlockBuilder_Block</class>
             </ves_blockbuilder>
            <catalog>
                <rewrite>
                    <product_view>Ves_BlockBuilder_Block_Product_View</product_view>
                </rewrite>
            </catalog>

        </blocks>
        <models>
            <ves_blockbuilder>
                <class>Ves_BlockBuilder_Model</class>
                <resourceModel>ves_blockbuilder_mysql4</resourceModel>
            </ves_blockbuilder>
            <ves_blockbuilder_mysql4>
                <class>Ves_BlockBuilder_Model_Mysql4</class>
                <entities>     
                    <block>
                        <table>ves_blockbuilder_block</table>
                    </block>
                    <template>
                        <table>ves_blockbuilder_template</table>
                    </template>
                    <selector>
                        <table>ves_blockbuilder_selector</table>
                    </selector>
                    <widget>
                        <table>ves_blockbuilder_widget</table>
                    </widget>
                    <block_product>
                        <table>ves_blockbuilder_block_product</table>
                    </block_product>
                    <block_cms>
                        <table>ves_blockbuilder_block_cms</table>
                    </block_cms>
                </entities>
            </ves_blockbuilder_mysql4>
        </models>
        <helpers>
            <ves_blockbuilder>
                <class>Ves_BlockBuilder_Helper</class>
            </ves_blockbuilder>
        </helpers>
        <resources>
            <ves_blockbuilder_setup>
                <setup>
                    <module>Ves_BlockBuilder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_blockbuilder_setup>
            <ves_blockbuilder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_blockbuilder_write>
            <ves_blockbuilder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_blockbuilder_read>
        </resources>
    </global>

    <admin>
        <routers>
            <blockbuilder>
                <use>admin</use>
                <args>
                    <module>Ves_BlockBuilder</module>
                    <frontName>blockbuilder</frontName>
                </args>
            </blockbuilder>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_BlockBuilder after="Mage_Adminhtml">Ves_BlockBuilder_Adminhtml</Ves_BlockBuilder>
                    </modules>
                </args>
            </adminhtml>
        </routers>

    </admin>

    <adminhtml>
        <layout>
            <updates>
                <blockbuilder>
                    <file>ves_blockbuilder.xml</file>
                </blockbuilder>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <blockbuilder_save_product_data>
                        <type>singleton</type>
                        <class>Ves_BlockBuilder_Model_Observer</class>
                        <method>saveProductTabData</method>
                    </blockbuilder_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
        <translate>
            <modules>
                <Ves_BlockBuilder>
                    <files>
                        <default>Ves_BlockBuilder.csv</default>
                    </files>
                </Ves_BlockBuilder>
            </modules>
        </translate>
    </adminhtml>
    
    <default>
        <ves_blockbuilder>
            <ves_blockbuilder>
                <show>1</show>
                <enable_jquery>0</enable_jquery>
                <enable_jquery_ui>0</enable_jquery_ui>
                <enable_owl>0</enable_owl>
                <enable_transition>1</enable_transition>
                <enable_parallax>1</enable_parallax>
                <enable_colorbox>1</enable_colorbox>
                <enable_fancybox>1</enable_fancybox>
                <enable_fancybox_buttons>0</enable_fancybox_buttons>
                <enable_fancybox_media>0</enable_fancybox_media>
                <enable_fancybox_thumbs>0</enable_fancybox_thumbs>
                <enable_animation>1</enable_animation>
                <enable_holder_js>1</enable_holder_js>
                <enable_bootstrap_js>1</enable_bootstrap_js>
                <enable_bootstrap>0</enable_bootstrap>
                <enable_tinybootstrap>1</enable_tinybootstrap>
                <enable_bootstrap_24cols>0</enable_bootstrap_24cols>
                <enable_bootstrap24>0</enable_bootstrap24>
                <enable_tinybootstrap24>0</enable_tinybootstrap24>
                <enable_fontawesome>0</enable_fontawesome>
                <use_sample_elements>0</use_sample_elements>
                <enable_visual_composer>0</enable_visual_composer>
                <auto_backup_profile>1</auto_backup_profile>
                <enable_masonary>0</enable_masonary>
                <minify_html>0</minify_html>
                <cache_lifetime>86400</cache_lifetime>
            </ves_blockbuilder>
        </ves_blockbuilder>
        <ves_productbuilder>
            <general>
                <show>1</show>
                <enable_media_gallery>1</enable_media_gallery>
                <enable_jcarousel>1</enable_jcarousel>
                <enable_tags>0</enable_tags>
                <enable_tags_tab>1</enable_tags_tab>
            </general>
            <layout>
                <auto_layout_simple>manual</auto_layout_simple>
                <auto_layout_configurable>manual</auto_layout_configurable>
                <auto_layout_grouped>manual</auto_layout_grouped>
                <auto_layout_virtual>manual</auto_layout_virtual>
            </layout>
        </ves_productbuilder>
        <ves_livecss>
            <general>
                <show>0</show>
                <allow_save_profile>1</allow_save_profile>
            </general>
        </ves_livecss>
    </default>
</config>