<!--@styles
*{padding:0; margin:0}
@-->
<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td valign="top">
            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dear {{var name}},</h1>
            <p style="font-size:14px; line-height:18px; margin:0 0 16px 0;"><pre style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:14px; margin:0; padding:0;">{{var message}}</pre></p>
        </td>
    </tr>
</table>
</div>

