<?xml version="1.0"?>
<config>
    <modules>
        <NextBits_LoginCatalog>
            <version>1.2.5</version>
        </NextBits_LoginCatalog>
    </modules>
    <global>
        <models>
            <logincatalog>
                <class>NextBits_LoginCatalog_Model</class>
            </logincatalog>
        </models>
        <helpers>
            <logincatalog>
                <class>NextBits_LoginCatalog_Helper</class>
            </logincatalog>
        </helpers>
        <resources>
            <logincatalog_setup>
                <use>default_setup</use>
            </logincatalog_setup>
            <logincatalog_write>
                <use>default_write</use>
            </logincatalog_write>
            <logincatalog_read>
                <use>default_read</use>
            </logincatalog_read>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_front_init_before>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </nextbits_logincatalog>
                </observers>
            </controller_front_init_before>
            <controller_action_predispatch>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>controllerActionPredispatch</method>
                    </nextbits_logincatalog>
                </observers>
            </controller_action_predispatch>
            <page_block_html_topmenu_gethtml_before>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>pageBlockHtmlTopmenuGethtmlBefore</method>
                    </nextbits_logincatalog>
                </observers>
            </page_block_html_topmenu_gethtml_before>
            <catalog_product_collection_load_after>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>catalogProductCollectionLoadAfter</method>
                    </nextbits_logincatalog>
                </observers>
            </catalog_product_collection_load_after>
            <catalog_product_load_after>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </nextbits_logincatalog>
                </observers>
            </catalog_product_load_after>
            <catalog_category_load_after>
                <observers>
                    <nextbits_logincatalog>
                        <type>singleton</type>
                        <class>logincatalog/observer</class>
                        <method>catalogCategoryLoadAfter</method>
                    </nextbits_logincatalog>
                </observers>
            </catalog_category_load_after>
        </events>
    </frontend>
    <default>
        <catalog_login>
            <logincatalog>
                <disable_ext>1</disable_ext>
                <hide_categories>0</hide_categories>
                <redirect_for_categories>0</redirect_for_categories>
                <redirect_on_all_pages>0</redirect_on_all_pages>
                <message>Please log in to view our catalog</message>
                <disable_on_routes></disable_on_routes>
                <redirect_to_page>0</redirect_to_page>
                <cms_page></cms_page>
            </logincatalog>
        </catalog_login>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <NextBits_LoginCatalog>
                    <files>
                        <default>NextBits_LoginCatalog.csv</default>
                    </files>
                </NextBits_LoginCatalog>
            </modules>
        </translate>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <NextBits_LoginCatalog/>
            </modules>
        </suite>
    </phpunit>
</config>