/*CUSTOM*/
@media only screen and (max-width: 768px) {
    .category-products .products-grid > li {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 1024px) {
.ves-container .row.row-level-1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
}

@media only screen and (min-width: 1200px){
    .catalog-category-view .row{
        position: relative;
    }
    .catalog-category-view .row .category-products .toolbar{
        position: absolute;
        top: -80px;
        right: 15px;
    }
    .category-products .products-grid > li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 2.5%;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
        padding: 10px;
        border: none;
    }
    .category-products .products-grid > li:nth-child(3n) {
        margin-right: 0;
    }

    .toolbar select {
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: transparent;
        border: none;
    }
    .contacts-index-index .form-list textarea,
    .contacts-index-index .form-list input{
        width: 70%;
    }
    
}

/*common*/
.contacts-index-index .online-sms {
    display: block;
    margin-bottom: 10px;
}

.contact-right-content {
    margin-bottom: 30px;
}

.contacts-index-index #contactForm{
    margin-top: 20px;
}
.contacts-index-index .online-sms .icon-cyle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}

.contacts-index-index .col-lg-12{
    padding-left: 0%;padding-right: 0;
}
ul.rootnav-contact-us li a:hover{
    text-decoration: none;
}
ul.rootnav-contact-us li a{
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 30px;
    color: #333;
    font-weight: bold;
}
ul.rootnav-contact-us li {
    float: left;
}
ul.rootnav-contact-us{
    width:100%;
    margin: 30px 0;
    float: left;
}
.catalog-category-view .row .category-products .toolbar{
    margin: 0;
}
.category-products .products-grid > li {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 10px;
    border: none;
}

.category-products .products-grid .prod-addcart_section a {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}


.sorter > .sort-by .sort-by-switcher{display: none;}
.toolbar select:focus {
    border-color: transparent;
}
.toolbar select option {
    color: #000000;
}
.left-padding-90 .breadcrumbs {
    padding: 0;
    display: block;

}
.left-padding-90 .page-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 0;
}
.left-padding-90 .breadcrumbs strong,
.breadcramb-section .left-padding-90 a,
.breadcramb-section .left-padding-90 span{
    font-size: 14px ;
}

/*.bgwrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-allpages-min.png);
    background-size: 100%;
    margin: 0 auto;
    padding: 30px;
    opacity: .2;
    filter: alpha(opacity=20);
}*/

.mainheader-section {
    background: #fff;
}
.site-header a {
    text-decoration: none;
}
.top-three {
    display: table;
    margin: 0 auto;
}
.customer-box {
    float: left;
    width: 50%;
}

.lang-box {
    float: right;
    width: 50%;
}
.lang-box img {
    width: 70%;
    border: none;
    float: right;
}

.form-language {
    float: right;
}

.header-minicart a, .header-minicart a:hover {
    text-decoration: none;
}
.newsl {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
}

div#footer-email-subscription {
    display: inline-flex;
}

div#footer-email-subscription button {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
}

.box-newsletter {
    float: right;
}

.ves-container  .block {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0 50px;
}

.sticky_menu_nav {
    margin-bottom: 50px;
}

#contactForm button {
    margin-left: 0;
}
