/*CUSTOM*/
@media only screen and (max-width: 768px) {
    .category-products .products-grid > li {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25px;
    }
}
@media only screen and (min-width: 1024px) {
.ves-container .row.row-level-1 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
}

@media only screen and (min-width: 768px) {
    .product-view {
        margin-top: 60px;
    }

    .product-view .regular-price .price {
        line-height: 30px;
    }

    .product-view .Klarna {
        padding-top: 5px;
    }

    .product-view .product-options dd {
        padding: 0 0 4px 0;
        margin: 0;
        border-bottom: none;
    }
    .product-view .view-product-shop .product-options dd select{
        min-height: 36px;
        padding-left: 22px;
        min-width: 180px;
        max-height: 60px;
    }

    .product-view .col-sm-12 .product-options {
        width: 26%;
        min-width: 180px;
    }

    .product-view .storle.tab1.collapsed,.product-view .skot.tab2.collapsed {
        opacity: 1;
    }
    .product-view .storle.tab1,.product-view .skot.tab2 {
        opacity: .5;
    }

}
@media only screen and (min-width: 1200px){

    .product-view .pro-details-description > h2 {
        margin-top: 0;
    }
    .catalog-category-view .row{
        position: relative;
    }
    .catalog-category-view .row .category-products .toolbar{
        position: absolute;
        top: -80px;
        right: 15px;
    }
    .category-products .products-grid > li {
        width: 30%;
        margin-right: 5%;
        margin-bottom: 2.5%;
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 10px #000000;
        padding: 10px;
        border: none;
    }
    .category-products .products-grid > li:nth-child(3n) {
        margin-right: 0;
    }

    .toolbar select {
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: transparent;
        border: none;
    }
    .contacts-index-index .form-list textarea,
    .contacts-index-index .form-list input{
        width: 70%;
    }
    
}

/*common*/
.about-us-top{
    background: url(../images/hero-img.jpg);
    background-size: 100% 100%;
}
.about-us-bottom{
    background: url(../images/home-secong-img.jpg);
    background-size: 100% 100%;
}
.action.availability.in-stock {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.status_stock_ .add-to-box {
    margin: 0 !important;
}
.action.availability.out-of-stock {
    text-transform:   initial !important;
}
.out-of-stock-prod {
    padding: 0 0 30px;
    float: left;
    width: 200%;
}

.product-view #latest_offers .owl-item li.item {
    border: none;
    padding: 10px;
    margin: 0;
    -moz-box-shadow: inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow: inset 0 0 8px #000000;
}
.product-view #latest_offers .owl-item {
    background: none;
    border: none;
    list-style: none;
    padding: 0 2%;
    text-align: center !important;
}

.product-view .owl-controls.clickable {
    margin-top: 0;
}
.product-view .product-image-gallery {
    position: relative;
    webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.product-image-thumbs {
    background: none;
}
.product-view .product-img-box .product-image, .product-view .more-views{
    -moz-box-shadow: inset 0 0 8px #000000;
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow: inset 0 0 8px #000000;
    padding: 8px;
    border: none;
}
#owl-product-image-thumbs {
    position: relative;
}

#owl-product-image-thumbs.owl-carousel .owl-item .item {
    border: none;
    margin-left: 0;
    webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.latest-offer .owl-theme .owl-controls{
    top: calc(50% - 23px);
}
.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
}
#owl-product-image-thumbs {
    margin-bottom: 0;
}

.product-view .owl-theme .owl-controls .owl-buttons div{
    background: none;
}
.product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-prev{
    float: left;
    padding-left: 60px;
}
.product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-next{
    float: right;
    padding-right: 60px;
}
.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons div.owl-prev{
    float: left;
    margin: 0;
    padding: 0;
}
.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons div.owl-next{
    float: right;
    margin: 0;
    padding: 0;
}
.product-view .owl-theme .owl-controls .owl-buttons div img {
    width: 30px;
}
.product-view .owl-theme .owl-controls .owl-buttons{

}

.contacts-index-index .online-sms {
    display: block;
    margin-bottom: 10px;
}

.contact-right-content {
    margin-bottom: 30px;
}

.contacts-index-index #contactForm{
    margin-top: 20px;
}
.contacts-index-index .online-sms .icon-cyle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}

.contacts-index-index .col-lg-12{
    padding-left: 0%;padding-right: 0;
}
ul.rootnav-contact-us li a:hover{
    text-decoration: none;
}
ul.rootnav-contact-us li a{
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 30px;
    color: #333;
    font-weight: bold;
}
ul.rootnav-contact-us li {
    float: left;
}
ul.rootnav-contact-us{
    width:100%;
    margin: 30px 0;
    float: left;
}
.catalog-category-view .row .category-products .toolbar{
    margin: 0;
}
.category-products .products-grid > li {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
    padding: 10px;
    border: none;
}

.category-products .products-grid .prod-addcart_section a {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}


.sorter > .sort-by .sort-by-switcher{display: none;}
.toolbar select:focus {
    border-color: transparent;
}
.toolbar select option {
    color: #000000;
}
.left-padding-90 .breadcrumbs {
    padding: 0;
    display: block;

}
.left-padding-90 .page-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 0;
}
.left-padding-90 .breadcrumbs strong,
.breadcramb-section .left-padding-90 a,
.breadcramb-section .left-padding-90 span{
    font-size: 14px ;
}

.bgwrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-allpages-min.png);
    background-size: 100%;
    margin: 0 auto;
}

.mainheader-section {
    background: #fff;
}
.site-header a {
    text-decoration: none;
}
.top-three {
    display: table;
    margin: 0 auto;
}
.customer-box {
    float: left;
    width: 50%;
}

.lang-box {
    float: right;
    width: 50%;
}
.lang-box img {
    width: 70%;
    border: none;
    float: right;
}

.form-language {
    float: right;
}

.header-minicart a, .header-minicart a:hover {
    text-decoration: none;
}
.newsl {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
}

div#footer-email-subscription {
    display: inline-flex;
}

div#footer-email-subscription button {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
}

.box-newsletter {
    float: right;
}

.ves-container  .block {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0 50px;
}

.sticky_menu_nav {
    margin-bottom: 50px;
}

#contactForm button {
    margin-left: 0;
}

.storle.active, .skot.active {
    opacity: 0.4;
}