/*CUSTOM*/

@media only screen and (max-width: 767px) {

    .about-page .about-us-center .page-title {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .about-page .page-title {
        font-size: 19px;
    }
    .product-view .skot.tab2title h2,
    .product-view .skot.tab2title span,
    .product-view .storle.tab1title span,
    .product-view .storle.tab1title h2 {
        float: none;
    }

    .add-to-box.fail-vali {
        margin-top: 103px !important;
    }

    .product-view .skot.tab2title,
    .product-view .storle.tab1title {
        padding: 0;
        text-align: center;
    }
}
@media only screen and (min-width: 481px)and (max-width: 980px) {

    .opc-wrapper-opc.design_package_vani h1.checkout-title {
        font-size: 22px;
        font-weight: 600;
    }

    .opc-wrapper-opc .opc-review-actions h5 span.price,
    .opc-wrapper-opc .opc-review-actions h5 {
        font-size: 20px;
    }

    .opc-wrapper-opc .collapse-block button{
        min-width: 210px;
    }
    .opc-wrapper-opc .collapse-block button,
    .opc-wrapper-opc .discount .buttons-set {
        border: none;
        margin-top: 20px;
        margin-right: 51%;
        float: left;
        margin-bottom: 15px;
        max-width: 210px;
    }

    .opc-wrapper-opc .button.btn-checkout{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        float: none;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 480px) {

    .category-products .products-grid > li {
        margin-right: 0;
        width: 100%;
        margin-bottom: 25px;
    }

    .opc-wrapper-opc.design_package_vani h1.checkout-title {
        font-size: 22px;
        font-weight: 600;
    }
    .opc-wrapper-opc .opc-col-left .fields .field {
        width: 100% !important;
    }
    .opc-wrapper-opc .collapse-block button {
        background: #000 none repeat scroll 0 0 !important;
        clear: none;
        float: right;
        margin-top: 10px;
        padding: 0;
        width: 48%;
    }
    .form-list .control input.checkbox {
        display: inline;
    }

    .opc-wrapper-opc .opc-col-left .control label {
        font-size: 14px;
        padding-left: 12px;
        display: inline;
        line-height: 32px;
    }

    .background_image_part .image_part_logo {
        float: right;
        max-width: 60%;
        width: 40%;
    }

    .background_image_part .image_part_logo  img {
        display: inline-block;
        max-width: 100%;
        margin-top: 2px;
    }

    .opc-wrapper-opc.design_package_vani.design_theme_default{
        margin-top: 0 !important;
    }

    .opc-wrapper-opc .opc-review-actions h5 span.price{
        font-size: 15px;
    }

    .opc-wrapper-opc .opc-review-actions h5 > span.price,
    .opc-wrapper-opc .opc-review-actions h5{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 19px;
        float: none;
        line-height: 1.1;
    }

}
@media only screen and (max-width: 420px) {
    .header-minicart .cart-count {
        font-size: 15px;
    }

    .visible-xs.visible-sm.col-sm-4.col-xs-4 {
        padding-left: 0;
    }

    .product-view .col-sm-12 .product-options {
        float: left;
        margin: 0;
        width: 100%;
        padding-right: 0;
    }

    .product-view .col-sm-12 .add-to-box {
        float: left;
        margin: 0 !important;
        width: 100%;
    }

    .product-view .view-product-shop .add-to-cart-buttons {
        margin: 0;
        width: 100%;
    }

    .product-view .pro-details-description {
        text-align: justify;
    }

    .product-view .view-product-shop .product-options dd select {
        width: 100%;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-next {
        padding: 0;
        margin: 0 -10px 0 0;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-prev {
        padding: 0;
        margin: 0 0 0 -10px;
    }

    .product-view #latest_offers .owl-item {
        padding: 0;
        margin: 0;
    }


}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .category-products .products-grid > li {
        width: 48%;
        margin-right: 4%;
    }

    .category-products .products-grid > li:nth-child(2n) {
        margin-right: 0;
    }

    .background_image_part {
        margin-top: 30px;
    }

    .site-footer .footer-letter {
        width: 75%;
        float: right;
        padding-right: 0;
        padding-left: 45px;
    }
    .site-footer .footer-payment .img-responsive {
        margin: 0 auto;
    }

    .site-footer .footer-payment{
        width: 100%;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1199px) {

    .form-list .control input.checkbox {
        display: inline;
    }

    .opc-wrapper-opc .opc-col-left .control label {
        font-size: 14px;
        padding-left: 12px;
        display: inline;
        line-height: 32px;
    }

    .opc-wrapper-opc .opc-col-left .fields .field {
        width: 100% !important;
    }
    .opc-wrapper-opc .opc-review-actions h5 span.price{
        font-size: 15px;
    }
    .opc-wrapper-opc .opc-review-actions h5 > span.price,
    .opc-wrapper-opc .opc-review-actions h5{
        font-size: 14px;
        margin-bottom: 10px;
        margin-top: 19px;
        float: none;
        line-height: 1.1;
    }

    .opc-wrapper-opc .button.btn-checkout span span {
        color: #FFFFFF;
        font-size: 18px !important;
    }s
}
@media only screen and (min-width: 993px) and (max-width: 1199px) {

    .category-products .products-grid > li {
        width: 32%;
        margin-right: 2%;
    }

    .category-products .products-grid > li:nth-child(3n) {
        margin-right: 0;
    }

    .site-footer .footer-letter {
        padding-left: 0;
    }
    .navigation-menu .col-sm-offset-1 {
        margin-left: 0;
        width: 75%;
    }

    .navigation-menu .sf-menu > li:first-child {
        margin-left: 0;
    }
    .navigation-menu .sf-menu > li {
        margin-left: 20px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {

    .col-sm-12 .add-to-box {
        float: left;
        margin: 72px 0 0;
        width: 40%;
    }

    .col-sm-3.col-xs-12.pull-right {
        padding-left: 0;
    }

    .langs-wrapper a {
        width: 45%;
        float: right;
    }

    .col-sm-3.col-xs-12.icon-network{
        padding-right: 0;
        width: 23%;
    }
    .col-sm-6.col-xs-12.content-top-header{
        padding-left: 0;
        padding-right: 0;
        width: 51%;
    }
    .top-header-menu li a, .header-top a {
        font-size: 12px;
    }

    .about-us-bottom,.about-us-top{
        padding-top: 100px;
    }

    .about-us-top .content-about {
        width: 60%;
    }

    .about-us-bottom .content-about {
        width: 60%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .category-products .products-grid > li {
        width: 48%;
        margin-right: 4%;
    }

    .category-products .products-grid > li:nth-child(2n) {
        margin-right: 0;
    }
}
@media only screen and (min-width: 421px) and (max-width: 767px) {

    .header-minicart .cart-count {
        font-size: 22px;
    }

    .visible-xs.visible-sm.col-sm-4.col-xs-4 {
        padding-left: 0;
    }

    .product-view #latest_offers {
        width: calc(100% + 10px);
        margin-left: -10px;
    }

    .product-view #latest_offers .owl-item li.item {
        width: calc(100% - 10px);
        margin-left: 10px !important;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-next {
        padding: 0;
        margin: 0 -10px 0 0;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-prev {
        padding: 0;
        margin: 0;
    }

    .product-view #latest_offers .owl-item {
        padding: 0;
        margin: 0;
    }

    .product-view .col-sm-12 .product-options {
        float: left;
        margin: 0;
        width: 190px;
    }

    .product-view .col-sm-12 .add-to-box {
        float: left;
        margin: 79px 0 0;
        width: 50%;
    }

    .product-view .view-product-shop .product-options dd select {
        padding: 17px 30px 17px 17px;
    }
}

@media only screen and (max-width: 767px) {

    .background_image_part {
        margin-top: 30px;
    }
    .giftcard-info select#card-amount {
        width: 100% !important;
    }
    .box-newsletter {
        float: none!important;
        padding: 10px 0;
        display: table;
        margin: 0 auto;
    }
    .site-footer .footer-logo,
    .site-footer .img-responsive {
        display: table;
        margin: 0 auto;
    }
    #footer-email-subscription input {
        width: 60%;
    }
    div#footer-email-subscription button {
        width:40%;
    }
    .product-view .skot.tab2title  > h2{
        margin-top: 11px;
    }
    .product-view .skot.tab2title  > h2,
    .product-view .storle > h2{
        font-size: 18px;
    }
    .giftcard-fieldset textarea,.giftcard-info input {
        min-width: 100%;
    }

    .product-view {
        margin-top: 25px;
    }

    .view-product-shop .pro-price {
        margin-top: 15px;
        margin-right: 40px;
    }

    .product-view .Klarna {
        float: left;
        margin: 0;
        margin-top: 15px;
    }

    .about-page .about-us-center,
    .about-us-top,
    .about-us-bottom{
        padding-bottom: 25px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .about-page .page-title{
        text-align: center;
        padding-top: 15px;
    }

    .about-page .about-us-bottom .page-title {
        padding-top: 0;
        margin-top: 0;
    }

    .about-page p{
        margin: 0;
        text-align: justify;
    }
    .about-page .logo-about li:last-child {
        padding-bottom: 0;
    }
    .about-page .logo-about li {
        padding-bottom: 30px;
        list-style: none;
        margin-left: 0;
    }
    .about-page .about-us-center .logo-about h4 {
        margin: 25px 0;
        font-size: 16px;
    }

}
@media only screen and (max-width: 1023px) {
    .pc-show {
        display: none;
    }
    .mb-show {
        display: block;
    }
}

@media only screen and (min-width: 1024px) {

    .pc-show {
        display: block;
    }
    .mb-show {
        display: none;
    }

    .btn-show-hover {
        display: none;
    }

    .ves-container .row.row-level-1 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .mainheader-section .sticky_menu_nav {
        margin-bottom: 0;
    }

    .header-minicart.cart-icon {
        padding-bottom: 40px;
    }
}

@media only screen and (min-width: 981px) {
    .opc-wrapper-opc .collapse-block button{
        clear: none;
        float: right;
        margin-top:10px;
        padding: 0;
        width: 48%;
    }
}
@media only screen and (min-width: 768px) {
/*about*/
    .about-page .about-us-center .logo-about h4 {
        margin: 20px 0;
        text-align: center;
    }
    .about-page .logo-about li:last-child {
        margin-right: 0;
    }

    .about-page .logo-about li {
        width: 23%;
        float: left;
        margin-right: calc((100% - (23% * 4)) / 3);
        text-align: center;
        list-style: none;
        margin-left: 0;
    }
    .about-us-top .content-about {
        float: right;
        padding: 15px 30px;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .about-us-bottom .content-about {
        float: left;
        padding: 15px 30px;
        background-color: rgba(255, 255, 255, 0.6);
    }
    .about-page .about-us-center {
        background-color: rgba(255, 255, 255, 0.9);
        padding-bottom: 25px;
    }
    .about-us-top {
        background: url(../images/home-secong-img.jpg);
        background-size: 100% 100%;
        padding-bottom: 50px;
    }

    .about-us-bottom {
        background: url(../images/hero-img.jpg);
        background-size: 100% 100%;
        padding-bottom: 50px;
    }
    /*about*/



    .product-view {
        margin-top: 60px;
    }

    .product-view .regular-price .price {
        line-height: 30px;
    }

    .product-view .Klarna {
        padding-top: 5px;
    }

    .product-view .product-options dd {
        padding: 0 0 4px 0;
        margin: 0;
        border-bottom: none;
    }

    .product-view .view-product-shop .product-options dd select {
        min-height: 36px;
        padding-left: 22px;
        min-width: 160px;
        max-height: 60px;
    }

    .product-view .col-sm-12 .product-options {
        width: 50%;
        min-width: 180px;
    }

    .product-view .storle.tab1.collapsed, .product-view .skot.tab2.collapsed {
        opacity: 1;
    }

    .product-view .storle.tab1, .product-view .skot.tab2 {
        opacity: .5;
    }

}

@media only screen and (min-width: 1200px) {

    .col-sm-12 .add-to-box {
        float: left;
        margin: 72px 0 0;
        width: 40%;
    }

    .about-us-bottom,.about-us-top{
        padding-top: 150px;
    }

    .about-us-top .content-about {
        width: 36%;
    }

    .about-us-bottom .content-about {
        width: 36%;
    }
    .product-view #latest_offers .owl-item {
        padding: 0 1%;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-prev {
        padding-left: 60px;
    }

    .product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-next {
        padding-right: 60px;
    }

    .product-view .pro-details-description > h2 {
        margin-top: 0;
    }

    .catalog-category-view .row {
        position: relative;
    }

    .catalog-category-view .row .category-products .toolbar,
    .catalogsearch-result-index .row .category-products .toolbar{
        position: absolute;
        top: -66px;
        right: 15px;
    }

    .catalogsearch-result-index .page-title h1 {
        margin: 15px 0;
    }

    .category-products .products-grid > li {
        width: 30%;
        margin-right: 5%;
    }

    .category-products .products-grid > li:nth-child(3n) {
        margin-right: 0;
    }

    .toolbar select {
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        background-color: transparent;
        border: none;
    }

    .contacts-index-index .form-list textarea,
    .contacts-index-index .form-list input {
        width: 70%;
    }

}

/*common*/

.category-products .products-grid > li {
    margin-bottom: 2.5%;
    box-shadow: 0 0 10px #DEDEDE inset, 0 -1px 1px #BFBDBD, 0 1px 1px rgba(255,253,253,.5);
    background-color: rgba(0,0,0,.02);
    padding: 10px;
    border: none;
}

.opc-wrapper-opc .collapse-block button{
    background: #000 none repeat scroll 0 0 !important;
}

.form-list .control input.checkbox{
    display: inline;
}
#checkout-review-table-wrapper a {
    color: #fff;
}

.ajaxlogin-window .close:hover,
.ajaxlogin-window .close{
    opacity: 1;
}

.ajaxlogin-window .buttons-set a {
    width: 100%;
    float: left;
    padding-top: 10px;
    padding-bottom: 0;
}

.giftcard-info input:focus,
.giftcard-fieldset textarea,
.giftcard-info select#card-amount {
    border: 1px solid #36322b;
}

.giftcard-info input{
    height: 55px !important;
    border: 1px solid #36322b;
}

.opc-wrapper-opc .opc-col-left input.input-text{
    background: #ffffff;
    border-color: #cccccc;
    border-radius: 0 !important;
}



.catalog-product-view select
 {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: rgba(255, 255, 255, 1) url("../img/down_arrow.png") no-repeat scroll right 10px center;
    border: 1px solid #d8d8d8;
    color: black;
    font-family: "Muli",sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-top: 4px;
    max-width: 100%;
    padding: 12px 20px;
    width: 100%;
}

.opc-index-index .opc-wrapper-opc .form-list select {
    padding: 15px 20px !important;
}
.product-view.prod_giftcards .col-sm-12 .add-to-box{
    margin: 10px 0 !important;
}

.product-view .product-image-thumbs a:hover,
.product-view .no-touch .product-image-thumbs a:hover{
    border: none;
}
.mini-products-list li.last {
    border-bottom: 0;
}

.about-page .about-us-center .logo-about h4 {
    text-align: center;
}

.about-page .about-us-center .logo-about img {
    margin-left: auto;
    margin-right: auto;
    max-width: 120px;
    width: 120px;
    height: 120px;
    background: #000;
    border-radius: 50%;
}

.about-page p {
    font-size: 13px;
}

.about-page .about-us-center .logo-about p {
    text-align: justify;
}


.about-page .logo-about {
    width: 100%;
}

.about-page .page-title {
    color: #000000;
    padding-bottom: 15px;
}



.action.availability.in-stock {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.status_stock_ .add-to-box {
    margin: 0 !important;
}

.action.availability.out-of-stock {
    text-transform: initial !important;
}

.out-of-stock-prod {
    padding: 0 0 30px;
    float: left;
    width: 200%;
}

.product-view #latest_offers .owl-item li.item {
    border: none;
    padding: 10px;
    margin: 0;
    box-shadow: 0 0 10px #DEDEDE inset, 0 -1px 1px #BFBDBD, 0 1px 1px rgba(255,253,253,.5);
    background-color: rgba(0,0,0,.02);
    position: relative;
}

.product-view #latest_offers .owl-item {
    background: none;
    border: none;
    list-style: none;
    text-align: center !important;
}

.product-view .owl-controls.clickable {
    margin-top: 0;
}

.product-view .product-image-gallery {
    position: relative;
    webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.product-image-thumbs {
    /* background: none; */
    background-color: rgba(0,0,0,.02);
}

.product-view .product-img-box .product-image, .product-view .more-views {
    box-shadow: 0 0 10px #DEDEDE inset, 0 -1px 1px #BFBDBD, 0 1px 1px rgba(255,253,253,.5);
    background-color: rgba(0,0,0,.02);
    padding: 10px;
    border: none;
}

#owl-product-image-thumbs {
    position: relative;
}

#owl-product-image-thumbs.owl-carousel .owl-item .item {
    /* border: 2px solid #c7c7c7; */
    /* margin-left: 0; */
    /*webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);*/
}

.latest-offer .owl-theme .owl-controls {
    top: calc(50% - 23px);
}

.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons {
    position: absolute;
    top: calc(50% - 15px);
    width: 100%;
}

#owl-product-image-thumbs {
    margin-bottom: 0;
}

.product-view .owl-theme .owl-controls .owl-buttons div {
    background: none;
}

.product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-prev {
    float: left;
}

.product-view #latest_offers.owl-theme .owl-controls .owl-buttons div.owl-next {
    float: right;
}

.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin: 0;
    padding: 0;
}

.product-view #owl-product-image-thumbs.owl-theme .owl-controls .owl-buttons div.owl-next {
    float: right;
    margin: 0;
    padding: 0;
}

.product-view .owl-theme .owl-controls .owl-buttons div img {
    width: 30px;
}

.product-view .owl-theme .owl-controls .owl-buttons {

}

.contacts-index-index .online-sms {
    display: block;
    margin-bottom: 10px;
}

.contact-right-content {
    margin-bottom: 30px;
}

.contacts-index-index #contactForm {
    margin-top: 20px;
}

.contacts-index-index .online-sms .icon-cyle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
}

.contacts-index-index .col-lg-12 {
    padding-left: 0%;
    padding-right: 0;
}

ul.rootnav-contact-us li a:hover {
    text-decoration: none;
}

ul.rootnav-contact-us li a {
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 30px;
    color: #333;
    font-weight: bold;
}

ul.rootnav-contact-us li {
    float: left;
}

ul.rootnav-contact-us {
    width: 100%;
    margin: 30px 0;
    float: left;
}

.catalog-category-view .row .category-products .toolbar {
    margin: 0;
}

.category-products .products-grid > li {
    padding: 10px;
    border: none;
}

.category-products .products-grid .prod-addcart_section a {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.sorter > .sort-by .sort-by-switcher {
    display: none;
}

.toolbar select:focus {
    border-color: transparent;
}

.toolbar select option {
    color: #000000;
}

.left-padding-90 .breadcrumbs {
    padding: 0;
    display: block;

}

.left-padding-90 .page-title {
    font-size: 32px;
    color: #fff;
    margin-bottom: 0;
    font-weight: normal;
    margin-top: 0;
}

.bgwrapper {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-allpages-min.png);
    background-size: 100%;
    margin: 0 auto;
}

.mainheader-section {
    background: #fff;
}

.site-header a {
    text-decoration: none;
}

.top-three {
    display: table;
    margin: 0 auto;
}

.customer-box {
    float: left;
    width: 55%;
}

.lang-box {
    float: right;
    width: 45%;
}

.lang-box img {
    width: 70%;
    border: none;
    float: right;
}

.form-language {
    float: right;
}

.header-minicart a, .header-minicart a:hover {
    text-decoration: none;
}

.newsl {
    margin-top: 6px;
    margin-bottom: 0;
    font-size: 18px;
}

div#footer-email-subscription {
    display: inline-flex;
}

div#footer-email-subscription button {
    background: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
}

.box-newsletter {
    float: right;
}

.ves-container .block {
    margin-bottom: 0;
}

.container-fluid {
    padding: 0 50px;
}

.sticky_menu_nav {
    margin-bottom: 50px;
}

#contactForm button {
    margin-left: 0;
}

.storle.active, .skot.active {
    opacity: 0.4;
}

.prod_giftcards .pro-price,
.prod_giftcards .Klarna {
    display: none;
}

#helpKlarnaModal.modal {
  text-align: center;
}

#helpKlarnaModal.modal {
  text-align: center;
  padding: 0!important;
  background: rgba(0,0,0,0.2);
}

#helpKlarnaModal.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

#helpKlarnaModal .modal-dialog {
  text-align: left;
  vertical-align: middle;
  display: inline-block;
}
#helpKlarnaModal .close {
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .about-page .about-us-center .page-title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .about-page .page-title {
        font-size: 25px;
    }
    .left-padding-90 .breadcrumbs strong,
    .breadcramb-section .left-padding-90 a,
    .breadcramb-section .left-padding-90 span {
        font-size: 14px;
    }

    #helpKlarnaModal.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

#owl-product-image-thumbs .owl-item li.item {
    box-shadow: 0 0 5px rgba(222, 222, 222, 0.68) inset, 0 0px 0px rgba(191, 189, 189, 0.66), 0 0px 0px rgba(255,253,253,0.1);
    /* background-color: rgba(0,0,0,.00); */
}

#owl-product-image-thumbs .owl-item li.item  a.thumb-link {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    float: left;
    position: relative;
}

.fail-vali {
    margin-top: 113px !important;
}

.owl-theme .owl-controls .owl-buttons div {
    opacity: 1 !important;
}

.product-options label#color_label {
    font-size: 20px;
}

#configurable_swatch_color .product_attribute_option_link {
    display: none;
}

span.opt-lv1 {
    float: left;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    background-image: none;
    width: 100% !important;
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    -o-transition: border-color .5s ease;
    transition: border-color .5s ease;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    margin-top: 3px;
}

span.opt-icon {
    width: 38px;
    height: 38px;
    right: 18px;
    top: 50%;
    margin-top: -19px;
    background-image: url(../images/softgoat-sprite.svg);
    background-position: -76px -208px;
    right: 1.5em;
    left: auto;
    margin-top: 15px;
    position: absolute;
    top: 50%;
}

span.opt-text {
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    padding-left: 30px !important;
}

ul.box-topt {
    display: none;
}
span.opt-lv1:hover{
        background-color: #ccc;
    background-image: none;
}


ul.box-topt {
        background-color: #F2F2F2;
    border-color: #cccccc;
        overflow: auto;
    overflow-x: hidden;
    width: 100%;
}

ul.box-topt li{
        position: relative;
    margin: 0;
    padding: 5px 30px;
    cursor: pointer;
    min-height: 0;
}

ul.box-topt li:hover {
    background: #000; 
    color: #fff;
}

/*no Limit*/


    /* top message*/
    #payment_form_vaimo_klarna_invoice img {
      display: none;
    }
    .header-top a.my-account {
        margin-left: 5px;
        border-left: 1px solid;
        line-height: 18px;
        padding-left: 5px;
        margin-top: 7px;
    }

    .notification-symbol {
        width: 10%;
        float: left;
    }
    .rowt2 {
        width: 90%;
        float: right;
        padding-top: 10px;
    }
    .success-msg ul li {
        width: 100%;
        float: left;
        margin-bottom: 0;
    }
    .message-header{
        display: none;
    }
    .catalog-category-view .message-header,
    .catalog-product-view .message-header {
        display: block;
    }
    .catalog-product-view #bgwrapper .messages,
    .catalog-category-view #bgwrapper .messages{
        display: none;
    }

    .navigation-menu.sticky_menu_nav .message-header{
        background-color: #d8f1f0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
    }
    .navigation-menu.sticky_menu_nav.fixed_header_bg .header-minicart.cart-icon{
        padding-bottom: 15px;
    }
    .navigation-menu.sticky_menu_nav.fixed_header_bg{
        position: fixed;
        padding-bottom: 0;
    }
    .navigation-menu.sticky_menu_nav{
        position: relative;
    }

    .sticky_menu_nav.fixed_header_bg .message-header {
        background-color: #d8f1f0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 11;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    /* top message*/

    @media only screen and (min-width: 992px) and (max-width: 1199px){
        .catalog-category-view .row .category-products .toolbar,
        .catalogsearch-result-index .row .category-products .toolbar {
            position: absolute;
            top: -66px;
            right: 15px;
        }

        .breadcramb-section .left-padding-90 .page-title {
            font-size: 25px;
        }

        .header-top .customer-box a.my-account {
            line-height: 12px;
            margin-top: 10px;
        }

        .mainheader-section .sticky_menu_nav .cart-count {
            font-size: 22px;
        }

        .top-header-menu li a, .header-top a{
            font-size: 12px;
        }
    }
    @media only screen and (min-width: 641px) and (max-width: 991px){
        .m-site-logo {
            padding: 7% 0;
        }

        .breadcramb-section .left-padding-90 .page-title {
            font-size: 24px;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 991px){
        .col-sm-3.col-xs-12.pull-right {
            width: 20%;
        }

        .header-minicart .cart-count {
            font-size: 25px;
        }

        .header-top .col-sm-6.col-xs-12.content-top-header {
            width: 55%;
        }

        .mobile-menu-wrap .lang-box,
        .header-top .customer-box {
            display: none;
        }

        .header-top .lang-box {
            float: right;
            width: 100%;
        }
    }
    @media only screen and (max-width: 420px){

        .header-minicart .cart-count {
            line-height: 36px;
        }

        .header-minicart .h-cart {
            background-size: 25px 25px;
            padding-right: 30px;
        }
    }

    @media only screen and (max-width: 768px){

        .wrapper .breadcramb-section{
            padding: 8px 0;
        }

        .product-view .pro-details-description > h2 {
            font-size: 22px;
            margin: 0 0 25px;
        }
        .product-options .swatch-attr label#color_label {
            font-size: 16px;
            line-height: 29px;
        }

        .price-box .regular-price .price {
            font-size: 20px;
        }

        .left-padding-90 .breadcrumbs strong,
        .breadcramb-section .left-padding-90 a,
        .breadcramb-section .left-padding-90 span {
            font-size: 11px;
            line-height: 17px;
        }
        .col-xs-4.mobi-logo{
            padding: 0;
        }

      .stor-main.custom-tabs, .related-product-carousal {
    float: left;
    width: 100%;
}

      #owl-product-image-thumbs .owl-item .item img {
        width: 100%;
      }
      .notice-cookie {
        display: none;
      }
        .breadcramb-section .left-padding-90 .page-title {
            font-size: 15px;
        }
        .mobile-menu-wrap ul li:last-child{
            border-bottom: 1px solid #1c1c1c ;
        }

        .mobile-menu-wrap .lang-box {
            float: none;
            width: 100%;
        }
        .mobile-menu-wrap .form-language {
            float: none;
            margin-top: 0;
        }
        .mobile-menu-wrap .langs-wrapper {
            display: inline-block;
            text-align: center;
        }
        .mobile-menu-wrap .lang-box img {
            width: 45px;
        }

    }

    .block.block-list.block-viewed {
        display: none;
    }

.related-product-carousal .sale {
    left: 18px;
}
.wholescreen {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.69);
    z-index: 8675313;
}
.spinner {
    margin: 100px auto;
    width: 100px;
    text-align: center;
    top: 50%;
    position: absolute;
    margin-top: -12px;
    left: 0;
    right: 0;
}

.product-options select option {
    margin: 40px;
    background-color: #F2F2F2;
    border-color: #cccccc;
    color: #000;
    font-size: 20px;
}