<?xml version="1.0"?>

<config>
    <modules>
        <Mlx_GuestWishlist>
            <version>15.09.12</version>
        </Mlx_GuestWishlist>
    </modules>
    <global>
        <blocks>
            <guestwishlist>
                <class>Mlx_GuestWishlist_Block</class>
            </guestwishlist>  
            
            <wishlist>
            	<rewrite>
            		<share_wishlist>Mlx_GuestWishlist_Block_Rewrite_Wishlist_Share_Wishlist</share_wishlist>
            	</rewrite>
            </wishlist>
                     
        </blocks>
        <helpers>
        	<guestwishlist>
                <class>Mlx_GuestWishlist_Helper</class>
            </guestwishlist>
            <wishlist>
            	<rewrite>
            		<data>Mlx_GuestWishlist_Helper_Rewrite_Wishlist_Data</data>
            	</rewrite>
            </wishlist>
        </helpers>        
        <models>
            <guestwishlist>
                <class>Mlx_GuestWishlist_Model</class>
                <resourceModel>guestwishlist_resource</resourceModel>
            </guestwishlist>
            <guestwishlist_resource>
                <class>Mlx_GuestWishlist_Model_Resource</class>
                <deprecatedNode>guestwishlist_mysql4</deprecatedNode>
                <entities>        
                </entities>
            </guestwishlist_resource>   
            <wishlist>
            	<rewrite>
            		<wishlist>Mlx_GuestWishlist_Model_Rewrite_Wishlist_Wishlist</wishlist>
            	</rewrite>
            </wishlist>
            <wishlist_resource>
            	<rewrite>
            		<item_collection>Mlx_GuestWishlist_Model_Rewrite_Wishlist_Resource_Item_Collection</item_collection>
            	</rewrite>
            </wishlist_resource>
        </models>
        <resources>
            <guestwishlist_setup>
                <setup>
                    <module>Mlx_GuestWishlist</module>
                    <class>Mlx_GuestWishlist_Model_Resource_Setup</class>
                </setup>
            </guestwishlist_setup>
        </resources>
        <!-- 
        <rewrite>
           <guestwishlist>
               <from><![CDATA[#^/wishlist/#]]></from>              
               <to>/guestwishlist/</to>
           </guestwishlist>
       </rewrite>
        -->
        <template>
            <email>
                <wishlist_email_email_template translate="label" module="wishlist">
                    <label>Share Wishlist</label>
                    <file>Mlx/GuestWishlist/wishlist_share.html</file>
                    <type>html</type>
                </wishlist_email_email_template>
            </email>
        </template>
    </global>
    <frontend>
    	<events>
            <checkout_cart_add_product_complete>
                <observers>
                    <guestwishlist>
                        <type>singleton</type>
                        <class>guestwishlist/observer</class>
                        <method>checkout_cart_add_product_complete</method>
                    </guestwishlist>
                </observers> 
            </checkout_cart_add_product_complete>
            
			<customer_customer_authenticated>
				<observers>
				  <guestwishlist>
					<type>singleton</type>
					<class>guestwishlist/observer</class>
					<method>customer_customer_authenticated</method>
				  </guestwishlist>
			   </observers>					
			</customer_customer_authenticated>
			<customer_login>
				<observers>
				  <guestwishlist>
					<type>singleton</type>
					<class>guestwishlist/observer</class>
					<method>customer_login</method>
				  </guestwishlist>
			   </observers>	
			</customer_login>	
		</events>	
        <routers>
            <guestwishlist>
                <use>standard</use>
                <args>
                    <module>Mlx_GuestWishlist</module>
                    <frontName>guestwishlist</frontName>
                </args>
            </guestwishlist>            
            <wishlist>
                <args>
                    <modules>                       	
                        <Mlx_GuestWishlist before="Enterprise_Wishlist">Mlx_GuestWishlist</Mlx_GuestWishlist>
                    </modules>
                </args>
            </wishlist>            
        </routers>
        <translate>
            <modules>
                <Mlx_GuestWishlist>
                    <files>
                        <default>Mlx/GuestWishlist/frontend.csv</default>
                    </files>
                </Mlx_GuestWishlist>
            </modules>
        </translate>
        <layout>
            <updates>
                <guestwishlist module="Mlx_GuestWishlist">
                    <file>Mlx/GuestWishlist/layout.xml</file>
                </guestwishlist>
            </updates>
        </layout>        
    </frontend>
	<!--<admin>
        <routers>
			<guestwishlist>
				<use>admin</use>
				<args>
					<module>Mlx_GuestWishlist</module>
					<frontName>guestwishlist</frontName>
				</args>
			</guestwishlist>
        </routers>
    </admin>
    --><adminhtml>
    	<layout>
            <updates>
                <guestwishlist module="Mlx_GuestWishlist">
                    <file>Mlx/GuestWishlist/layout.xml</file>
                </guestwishlist>
            </updates>
        </layout>   
        <translate>
            <modules>
                <Mlx_GuestWishlist>
                    <files>
                        <default>Mlx/GuestWishlist/backend.csv</default>
                    </files>
                </Mlx_GuestWishlist>
            </modules>
        </translate>
    </adminhtml>
   	<default>
   		<guestwishlist>
   			<general>
   				<enable>1</enable>
   				<ajax>1</ajax>
   				<allow_move>1</allow_move>
   				<show_msg>0</show_msg>
   				<icon>1</icon>
   				<sender>1</sender>
   			</general>   			
   		</guestwishlist>
   	</default>
</config>
