<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Gallery>  
			<version>1.1.2</version>  
		</Ves_Gallery>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Gallery>
					<files>
						<default>Ves_Gallery.csv</default>
					</files>
				</Ves_Gallery>
			</modules>
		</translate>
		<layout>
			<updates>
				<Ves_Gallery>
					<file>ves_gallery.xml</file>
				</Ves_Gallery>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<ves_gallery_observer>
						<type>singleton</type>
						<class>Ves_Gallery_Model_Observer</class>
						<method>beforeRender</method>
					</ves_gallery_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_gallery>
                <class>Ves_Gallery_Block</class>
            </ves_gallery>
        </blocks>
        <models>
            <ves_gallery>
                <class>Ves_Gallery_Model</class>
                <resourceModel>ves_gallery_mysql4</resourceModel>
            </ves_gallery>
            <ves_gallery_mysql4>
                <class>Ves_Gallery_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>ves_gallery_banner</table>
                    </banner>
                </entities>
            </ves_gallery_mysql4>
        </models>
        <helpers>
            <ves_gallery>
                <class>Ves_Gallery_Helper</class>
            </ves_gallery>
        </helpers>
        <resources>
            <ves_gallery_setup>
                <setup>
                    <module>Ves_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_gallery_setup>
            <ves_gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_gallery_write>
            <ves_gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_gallery_read>
        </resources>
		
	</global>  
	<admin>
        <routers>
            <gallery>
                <use>admin</use>
                <args>
                    <module>Ves_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
            
            <adminhtml>
	            <args>
	                <modules>
	                    <Ves_Gallery after="Mage_Adminhtml">Ves_Gallery_Adminhtml</Ves_Gallery>
	                </modules>
	            </args>
	        </adminhtml>
        </routers>
        
    </admin>	
		
	<default>
		<ves_gallery>
			<ves_gallery>
				<show_block_gallery>1</show_block_gallery>
				<show>1</show>    
				<title>Ves Gallery</title>  
				<theme>default</theme>
				<moduleHeight>auto</moduleHeight>
				<moduleWidth>auto</moduleWidth>
				<thumbWidth>200</thumbWidth>                
				<thumbHeight>200</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  				
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>catalog</source>
			</ves_gallery>

			<carousel_setting>
				<enable_owl_carousel>0</enable_owl_carousel>
				<auto_play>0</auto_play>
				<interval>3000</interval>
				<rtl>0</rtl>
				<show_navigator>1</show_navigator>
				<show_pager>1</show_pager>
				<loop>1</loop>
				<mouse_drag>1</mouse_drag>
				<touch_drag>1</touch_drag>
				<slide_by>1</slide_by>
				<margin_item>0</margin_item>
				<mobile_items>1</mobile_items>
				<tablet_items>2</tablet_items>
				<portrait_items>3</portrait_items>
				<large_items>5</large_items>
			</carousel_setting>
			
			<file_source_setting>
				<imagecategory></imagecategory>
			</file_source_setting>
     </ves_gallery>
    </default>
</config>  